
.contenedorCurso{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
}

.contenidoCurso {
    grid-column: 2/3;
    color: white;
    padding: 2rem 10rem;
    background-position: center, center;
}

@media screen and (max-width: 1024px) {
    .contenidoCurso{
        grid-column: 1/3;
    }
}

.contenidoCurso h4{
    color:#D88506;
    font-size: 2.4rem;
}

.contenedorCurso p{
    
}